*{
    margin: 0;
    box-sizing: border-box;
}

div{
    width: 80%;
    margin: auto;
}

header{
    text-align: center;
    background-color: darkorchid;
}

nav{
    background-color: pink;
    padding: 3% 0;
}

nav ul{
    list-style: none;
    padding-left: 0;
}

nav li{
    display: inline;
    padding: 1%;
    border: plum 5px solid;
    margin: 0 9%;
}

nav a{
    text-decoration: none;
    color: black;
}

main{
    background-color: bisque;
    text-align: center;
}

footer{
    background-color: darkorchid;
}

main div {
    margin-left: 60%;
}
