    *{
       margin: 0;
        box-sizing: border-box;
    }

        div{
           width: 80%;
           margin: auto;
        }

        header{
            text-align: center;
            background-color: cornflowerblue;
        }

        nav{
            background-color: bisque;
            padding: 3% 0;
        }

       nav ul{
           list-style: none;
           padding-left: 0;
       }

    nav li{
         display: inline;
        padding: 1%;
        border: hotpink 5px solid;
        margin: 0 2%;
        }

    nav a{
        text-decoration: none;
        color: black;
    }

    main{
           background-color: deepskyblue;
        }

        footer{
            background-color: cornflowerblue;
        }

        main div {
            margin-left: 25%;
        }