*{
    margin: 0;
    box-sizing: border-box;
}

div{
    width: 80%;
    margin: auto;
}

header{
    text-align: center;
    background-color: deepskyblue;
}

nav{
    background-color: pink;
    padding: 3% 0;
}

nav ul{
    list-style: none;
    padding-left: 0;
}

nav li{
    display: inline;
    padding: 1%;
    border: blueviolet 5px solid;
    margin: 0;
    font-size: calc(1px + 1vw);
}

nav a{
    text-decoration: none;
    color: black;
}

main{
    background-color: deeppink;
}

footer{
    background-color: deepskyblue;
}

main div {
    margin-left: 50%;
}
