{
    margin: 0;
    box-sizing: border-box;
}

div{
    width: 80%;
    margin: auto;
}

header{
    text-align: center;
    background-color: plum;
    color: black;
}
nav{
    background-color: lavender;
    padding: 3% 0;
    text-align: center;
    color: black;
}

nav ul{
    list-style: none;
    padding-left: 0;
}

nav li{
    display: inline;
    padding: 1%;
    border: plum 5px solid;
    margin: 0 1%;
    font-size: calc(2px + 1vw);
}
nav a{
    text-decoration: none;
    color: black;
}

main{
    background-color: pink;
}

main img{
    margin-left: 38%;
}

main li{
    color: darkviolet;
}

footer {
    background-color: plum;
}

main div {
    margin-left: 50%;
}